body{
    margin: 0px;
}
.header{
    display: flex;
    margin-top: 41px;
    margin: 50px;
}
.header h1{
    font-size: 70px;
    margin-top: 120px;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header span{
    color: rgb(255, 115, 0);
}
.header p{
    font-size: 20px;
    font-weight: 100;
  color: gray;
}
.header a{
   width: 300px;
    border: 1px solid orangered;
    background-image: linear-gradient(to right,orangered ,gray);    
    font-size: 20px;
    text-decoration: none;
    padding: 20px 50px;
    margin: 10px;
    color: antiquewhite;
    border-radius: 30px;
    
}
.abt{
    background-image: url(image/shapes/7.png) ;
    padding: 100px;

   

}
.about .pic{
width: 300px;
height: 400px;
display: flex;
padding: 30px;
}
.about {
   display: flex;
    
}
.abt h1{
   color: gray;
  font-size: 40px;
}

.text{
    margin-left: 200px;
    margin-top: 100px;
    text-align: justify;
}
.text a{
    border: 1px solid;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
   background-image:linear-gradient( );
   background-color:rgb(240, 97, 45);
   color:white;
}
.sec3{
    text-align: center;
}
.sec3 h1{
    font-size: 40px;
    color: gray;
}
.sec3 p{
    font-size: 15px;
    margin: 50px 300px 0px 300px;
    
}
.cover{
    display: flex;
    padding: 20px;
    margin: 20px;
    margin-left: px;
    
}
.box1{
    border: 20px solid #fff;
    box-shadow: 5px 5px 5px 5px rgb(109, 104, 104);
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 60px;
}
.box2{
    border: 20px solid #fff;
    box-shadow: 5px 5px 5px 5px rgb(109, 104, 104);
    border-radius: 30px;
    margin-left:90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box3{
    border: 20px solid #fff;
    box-shadow: 5px 5px 5px 5px rgb(109, 104, 104);
    border-radius: 30px;
    margin-left: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.follow{
    display: flex;
    border: 5px solid #fff;
    margin: 70px;
    box-shadow: 5px 5px 5px 5px rgb(109, 104, 104);
    border-radius: 20px;
}
.fst{
    padding: 10px;
    margin: 0px 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.snd{
    padding: 10px;
    margin: 0px 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.trd{
    padding: 10px;
    margin: 0 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fst h1{
    font-weight: bold;
    font-size: 50px;
}
.snd h1{
    font-weight: bold;
    font-size: 50px;
}
.trd h1{
    font-weight: bold;
    font-size: 50px;
}
.final{
    width: 100%;
    height: 200px;
    background-color:black;
    color:gray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.final span{
    color: orange;
}


